body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.img1 {
    margin-left: -42px;
    margin-top: 0px;
}

.img2 {
    position:fixed;
    bottom: 1%;
    right: 1%;
}

div.container1 {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -110px;
}